.nav-link{
  color:$black;
  position: relative;
  &.active{
    color:#198754;
  }
  &:hover::before,&.active::before{
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid #198754;
  }
}
